# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

# Dataset

In [3]:
allen = pd.read_csv("Dataset.csv")

In [4]:
allen.head()

                 Player       Span  Mat  Inn   Runs   HS    Avg  100  50   0
0  SR Tendulkar (INDIA)  1989-2013  200  329  15921  248  53.78   51  68  14
1      RT Ponting (AUS)  1995-2012  168  287  13378  257  51.85   41  62  17
2    JH Kallis (ICC/SA)  1995-2013  166  280  13289  224  55.37   45  58  16
3  R Dravid (ICC/INDIA)  1996-2012  164  286  13288  270  52.31   36  63   8
4         AN Cook (ENG)  2006-2018  161  291  12472  294  45.35   33  57   9

# Preprocessing

In [5]:
allen = allen.drop(['Span'],axis=1)

In [6]:
x = allen.drop(['Player','HS'],axis=1)

In [7]:
y = allen['HS']

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3,random_state=0)

# Feature Scaling

In [9]:
s = StandardScaler()
xtrain = s.fit_transform(xtrain)
xtest = s.transform(xtest)

# Training

In [10]:
model = RandomForestRegressor(n_estimators=100,max_features=None)
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [11]:
def ca(ytest,p,thresold):
    r = 0
    l = len(p)
    for i in range(0,l):
        if(abs(p[i]-ytest[i])<=thresold):
            r+=1
    return ((r/l)*100)

In [12]:
print("R^2:", model.score(xtest,ytest)*100)
print("Accuracy: ", ca(ytest.values,p,50))

R^2: 61.950912326613306
Accuracy:  78.66666666666666