# Import Libraries

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

# Dataset

In [23]:
allen = pd.read_csv("Dataset.csv")

In [24]:
allen.head()

                 Player       Span  Mat  Inn   Runs   HS    Avg  100  50   0
0  SR Tendulkar (INDIA)  1989-2013  200  329  15921  248  53.78   51  68  14
1      RT Ponting (AUS)  1995-2012  168  287  13378  257  51.85   41  62  17
2    JH Kallis (ICC/SA)  1995-2013  166  280  13289  224  55.37   45  58  16
3  R Dravid (ICC/INDIA)  1996-2012  164  286  13288  270  52.31   36  63   8
4         AN Cook (ENG)  2006-2018  161  291  12472  294  45.35   33  57   9

# Training

In [25]:
allen = allen.drop(['Player','Span'],axis=1)

In [26]:
x = allen.drop(['HS'],axis=1)

In [27]:
y = allen['HS']

In [28]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [29]:
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [17]:
model = RandomForestRegressor()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [18]:
p

array([256.5 , 186.85, 252.13,  75.55, 169.46, 238.54, 130.94, 129.69,
       199.68, 143.61, 145.33, 144.71, 181.41, 227.04, 196.24, 178.55,
       142.25, 161.61, 233.8 , 269.46, 148.87, 171.75, 191.84, 220.59,
       287.73, 152.31, 302.91, 200.48, 228.47, 214.89, 124.5 , 154.98,
       179.19, 211.51, 137.44, 124.44, 200.01,  70.08, 176.11, 171.66,
       137.74, 206.22, 207.24, 142.16, 222.7 , 300.71, 199.05, 132.39,
       186.95, 220.76,  80.59, 167.75, 124.27, 229.48, 219.69, 338.04,
       162.12, 166.3 , 156.32,  93.3 , 251.62, 128.1 , 160.65, 131.85,
       190.72, 194.13, 330.23, 180.62, 170.19, 260.02, 191.85, 246.55,
       151.58, 163.85, 166.47, 171.78, 172.48, 202.92, 135.98, 189.04,
       191.67, 173.98, 126.04, 179.4 , 163.98, 188.32,  90.92, 227.59,
       157.12, 270.63, 211.79, 158.9 , 146.61, 187.12, 199.56, 123.18,
       256.37, 165.7 , 230.25, 137.74])

NameError: name 'regressor' is not defined