# Import Libraries

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [45]:
allen = pd.read_csv("Dataset.csv")

In [46]:
allen.head()

,Player,Span,Mat,Inn,NO,Runs,HS,Avg,100,50,0
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248,53.78,51,68,14
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9

# Training

In [47]:
allen = allen.drop(['Player','Span'],axis=1)

In [48]:
x = allen.drop(['HS'],axis=1)

In [49]:
y = allen['HS']

In [54]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=1)

In [55]:
model = RandomForestRegressor()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [56]:
p

array([222.8 , 186.35, 150.59, 179.65, 222.12, 193.02, 154.58, 149.76,
       137.17, 197.36, 135.91, 241.67,  61.39, 141.01, 150.43,  76.84,
       318.19, 171.58, 208.15, 149.13, 228.65, 239.57, 236.4 , 173.39,
       160.83, 129.56, 243.82, 134.2 , 193.71, 259.59, 249.45, 153.59,
       135.26, 207.21, 188.94, 112.97, 286.1 , 155.99, 151.53, 136.02,
       166.24, 117.16, 248.17, 154.88, 171.39, 245.56,  81.89, 214.34,
        64.3 , 139.8 , 140.2 , 309.05, 157.54, 150.79, 180.79, 137.42,
       156.22, 269.67, 179.32, 174.32, 228.69, 133.86, 171.67, 171.32,
       144.2 , 182.69, 197.47, 251.69, 190.6 , 192.29, 180.13, 202.23,
       236.23, 220.35, 131.24, 163.47, 180.55, 173.41, 187.33, 138.61,
       134.29, 186.65, 178.2 , 127.91, 185.1 , 153.59, 154.03,  91.44,
       151.53,  62.06, 149.84,  82.87, 331.71, 168.16, 302.36, 174.27,
       209.57, 127.01, 216.62, 143.09])