# Import Libraries

In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [61]:
allen = pd.read_csv("Dataset.csv")

In [62]:
allen.head()

                 Player       Span  Mat  Inn   Runs   HS    Avg  100  50   0
0  SR Tendulkar (INDIA)  1989-2013  200  329  15921  248  53.78   51  68  14
1      RT Ponting (AUS)  1995-2012  168  287  13378  257  51.85   41  62  17
2    JH Kallis (ICC/SA)  1995-2013  166  280  13289  224  55.37   45  58  16
3  R Dravid (ICC/INDIA)  1996-2012  164  286  13288  270  52.31   36  63   8
4         AN Cook (ENG)  2006-2018  161  291  12472  294  45.35   33  57   9

# Training

In [63]:
allen = allen.drop(['Player','Span'],axis=1)

In [64]:
x = allen.drop(['HS'],axis=1)

In [65]:
y = allen['HS']

In [66]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [67]:
model = RandomForestRegressor()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [68]:
p

array([256.14, 189.9 , 233.08,  76.71, 167.88, 241.13, 128.96, 136.54,
       204.11, 141.94, 148.94, 146.08, 180.57, 221.89, 197.65, 178.12,
       147.51, 164.14, 230.25, 270.19, 145.24, 174.12, 189.82, 211.47,
       293.48, 157.37, 313.56, 196.14, 225.48, 212.77, 128.85, 154.45,
       174.86, 206.38, 140.91, 124.71, 193.07,  73.23, 174.22, 166.77,
       144.72, 215.55, 204.98, 136.67, 219.37, 297.59, 197.31, 136.05,
       191.52, 223.85,  82.37, 167.79, 122.51, 224.7 , 217.08, 343.24,
       167.65, 163.79, 158.94,  93.35, 250.02, 131.34, 164.57, 133.11,
       187.07, 196.12, 336.3 , 183.62, 175.67, 255.98, 192.29, 252.08,
       154.62, 157.39, 157.42, 172.61, 176.13, 198.81, 131.94, 194.03,
       200.13, 175.43, 125.72, 178.55, 168.7 , 187.66,  89.56, 228.28,
       151.71, 262.22, 213.86, 151.61, 142.44, 186.65, 200.5 , 123.31,
       250.47, 159.9 , 230.42, 138.18])

In [70]:
print(regressor.score(xtest,ytest))

NameError: name 'regressor' is not defined