# Import Libraries

In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

# Dataset

In [39]:
allen = pd.read_csv("Dataset.csv")

In [40]:
allen.head()

                 Player       Span  Mat  Inn   Runs   HS    Avg  100  50   0
0  SR Tendulkar (INDIA)  1989-2013  200  329  15921  248  53.78   51  68  14
1      RT Ponting (AUS)  1995-2012  168  287  13378  257  51.85   41  62  17
2    JH Kallis (ICC/SA)  1995-2013  166  280  13289  224  55.37   45  58  16
3  R Dravid (ICC/INDIA)  1996-2012  164  286  13288  270  52.31   36  63   8
4         AN Cook (ENG)  2006-2018  161  291  12472  294  45.35   33  57   9

# Preprocessing

In [41]:
allen = allen.drop(['Span'],axis=1)

In [42]:
x = allen.drop(['Player','HS'],axis=1)

In [43]:
y = allen['HS']

In [44]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [45]:
# Feature Scaling

In [46]:
s = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [47]:
# Training

In [48]:
model = RandomForestRegressor(n_estimators=100,max_features=None)
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [51]:
p

array([257.35, 181.25, 242.76,  75.36, 163.54, 245.9 , 127.51, 134.97,
       202.28, 156.14, 152.68, 147.81, 180.03, 221.23, 194.83, 175.15,
       143.13, 164.78, 228.54, 262.38, 142.82, 175.82, 195.12, 220.77,
       288.02, 148.05, 309.94, 196.68, 231.47, 212.58, 126.13, 162.74,
       174.03, 212.15, 138.38, 120.05, 194.7 ,  71.59, 174.56, 170.94,
       138.88, 225.71, 206.51, 130.94, 224.52, 285.73, 196.02, 137.13,
       188.13, 222.07,  80.35, 165.2 , 129.79, 225.17, 222.86, 324.05,
       162.67, 163.27, 159.94,  95.04, 254.03, 127.42, 164.7 , 126.68,
       196.55, 193.05, 310.73, 181.26, 185.24, 263.74, 195.13, 253.43,
       149.19, 151.43, 163.51, 176.73, 180.32, 209.1 , 136.29, 196.  ,
       197.65, 175.67, 130.4 , 180.26, 157.72, 184.99,  88.95, 227.18,
       148.21, 259.47, 214.58, 147.98, 149.37, 185.9 , 197.07, 121.72,
       249.65, 158.83, 227.89, 136.83])

In [52]:
print("R^2:", model.score(xtest,ytest)*100)
print("Accuracy: ", custom_accuracy(ytest,p,20))

R^2: 59.04120402356254

NameError: name 'custom_accuracy' is not defined