# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

# Dataset

In [2]:
allen = pd.read_csv("Dataset.csv")

In [3]:
allen.head()

                 Player       Span  Mat  Inn   Runs   HS    Avg  100  50   0
0  SR Tendulkar (INDIA)  1989-2013  200  329  15921  248  53.78   51  68  14
1      RT Ponting (AUS)  1995-2012  168  287  13378  257  51.85   41  62  17
2    JH Kallis (ICC/SA)  1995-2013  166  280  13289  224  55.37   45  58  16
3  R Dravid (ICC/INDIA)  1996-2012  164  286  13288  270  52.31   36  63   8
4         AN Cook (ENG)  2006-2018  161  291  12472  294  45.35   33  57   9

# Training

In [4]:
allen = allen.drop(['Player','Span'],axis=1)

In [5]:
x = allen.drop(['HS'],axis=1)

In [6]:
y = allen['HS']

In [7]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
model = RandomForestRegressor()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

In [9]:
p

array([260.06, 188.73, 248.1 ,  75.17, 172.74, 231.99, 132.83, 132.88,
       203.15, 145.91, 151.27, 155.18, 183.3 , 234.86, 190.91, 180.04,
       138.62, 167.63, 227.86, 266.85, 149.56, 174.88, 195.47, 218.07,
       286.94, 150.53, 304.68, 196.89, 227.06, 215.48, 128.48, 153.14,
       174.72, 211.45, 149.9 , 121.23, 196.8 ,  70.46, 172.54, 170.66,
       143.66, 218.43, 207.47, 134.55, 225.98, 312.23, 198.56, 138.35,
       187.68, 221.78,  80.82, 168.95, 123.83, 222.48, 220.01, 339.21,
       174.4 , 166.62, 157.57,  93.54, 241.13, 132.26, 166.5 , 123.51,
       188.88, 198.76, 322.69, 183.28, 175.76, 249.38, 190.27, 243.13,
       158.58, 159.08, 160.68, 173.24, 181.38, 206.76, 133.  , 194.23,
       195.47, 168.28, 126.12, 177.72, 169.59, 186.72,  87.44, 221.48,
       152.13, 262.22, 216.7 , 145.48, 145.43, 182.51, 204.24, 120.58,
       250.72, 163.53, 222.16, 137.6 ])

NameError: name 'regressor' is not defined