# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [4]:
allen = pd.read_csv("Dataset.csv")

In [5]:
allen.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

# Training

In [54]:
x = allen.drop(['GRADING','PNO'],axis=1)

In [55]:
y = allen['GRADING']

In [56]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=1,stratify=Y)

In [57]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

# Assignment

### Confusion Matrix

In [58]:
print(confusion_matrix(ytest,p))

[[ 2  2]
 [ 0 18]]

### Specificity and Sensitivity

In [59]:
c = confusion_matrix(ytest,p)
print('Specificity: ', c[1,1]/(c[1,0]+c[1,1]))
print('Sensitivity: ', c[0,0]/(c[0,0]+c[0,1]))

Specificity:  1.0
Sensitivity:  0.5

### Accuracy

In [60]:
c = confusion_matrix(ytest,p)
print('Accuracy: {:.5%}'.format((c[0,0]+c[1,1])/sum(sum(c))))

Accuracy: 90.90909%