# Import Libraries

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [7]:
allen = pd.read_csv("Dataset.csv")

In [8]:
allen.head()

,Player,Span,Mat,Inn,NO,Runs,HS,Avg,100,50,0
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9

# Training

In [13]:
allen = allen.drop(['Player	','Span	'],axis=1)

KeyError: "['Player\\t' 'Span\\t'] not found in axis"

In [54]:
x = allen.drop(['GRADING','PNO'],axis=1)

In [55]:
y = allen['GRADING']

In [56]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=1,stratify=Y)

In [57]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

# Assignment

### Confusion Matrix

In [58]:
print(confusion_matrix(ytest,p))

[[ 2  2]
 [ 0 18]]

### Specificity and Sensitivity

In [59]:
c = confusion_matrix(ytest,p)
print('Specificity: ', c[1,1]/(c[1,0]+c[1,1]))
print('Sensitivity: ', c[0,0]/(c[0,0]+c[0,1]))

Specificity:  1.0
Sensitivity:  0.5

### Accuracy

In [60]:
c = confusion_matrix(ytest,p)
print('Accuracy: {:.5%}'.format((c[0,0]+c[1,1])/sum(sum(c))))

Accuracy: 90.90909%