In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('Dataset.csv')

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
df.drop('Invoice ID',axis=1, inplace=True)
df.drop('Branch',axis=1, inplace=True)
df.drop('Customer type',axis=1, inplace=True)
df.drop('Quantity',axis=1, inplace=True)
df.drop('Tax 5%',axis=1, inplace=True)
df.drop('Total',axis=1, inplace=True)
df.drop('Time',axis=1, inplace=True)
df.drop('Date',axis=1, inplace=True)
df.drop('cogs',axis=1, inplace=True)
df.drop('gross margin percentage',axis=1, inplace=True)
df.drop('gross income',axis=1, inplace=True)
df.drop('Payment',axis=1, inplace=True)

In [5]:
df.head()

        City  Gender            Product line  Unit price  Rating
0     Yangon  Female       Health and beauty       74.69     9.1
1  Naypyitaw  Female  Electronic accessories       15.28     9.6
2     Yangon    Male      Home and lifestyle       46.33     7.4
3     Yangon    Male       Health and beauty       58.22     8.4
4     Yangon    Male       Sports and travel       86.31     5.3

In [6]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix, f1_score
from sklearn.model_selection import train_test_split, cross_val_score

In [7]:
l1 = preprocessing.LabelEncoder()
f1 = l1.fit_transform(df['Gender'])
f1 = pd.DataFrame(data=f1, columns=['Gender'])
df['Gender'] = f1['Gender']

In [8]:
print(list(l1.inverse_transform([0,1])))

['Female', 'Male']

In [9]:
l2 = preprocessing.LabelEncoder()
f2 = l2.fit_transform(df['City'])
f2 = pd.DataFrame(data=f2, columns=['City'])
df['City'] = f2['City']

In [10]:
print(list(l2.inverse_transform([0,1,2])))

['Mandalay', 'Naypyitaw', 'Yangon']

In [11]:
l3 = preprocessing.LabelEncoder()
f3 = l3.fit_transform(df['Product line'])
f3 = pd.DataFrame(data=f3, columns=['Product line'])
df['Product line'] = f3['Product line']

In [12]:
print(list(l3.inverse_transform([0,1,2,3,4,5])))

['Electronic accessories', 'Fashion accessories', 'Food and beverages', 'Health and beauty', 'Home and lifestyle', 'Sports and travel']

In [13]:
df.head()

   City  Gender  Product line  Unit price  Rating
0     2       0             3       74.69     9.1
1     1       0             0       15.28     9.6
2     2       1             4       46.33     7.4
3     2       1             3       58.22     8.4
4     2       1             5       86.31     5.3

In [14]:
X = df.drop(['Product line'],axis=1)

In [15]:
y = df['Product line']

In [32]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=21)

In [33]:
ranfor = RandomForestClassifier()
ranfor.fit(Xtrain,ytrain)
pr = ranfor.predict(Xtest)

In [34]:
pr2 = pd.DataFrame(columns=['City','Gender','Unit price','Rating','Product line'])

In [35]:
init = {"City": 1,
        "Gender": 1,
        "Unit price": 134,
        "Rating": 8.4,
       }
pr2 = pr2.append(init, ignore_index=True)

In [36]:
pred = ranfor.predict(pr2.drop(['Product line'],axis=1))
pr2['Product line']=pred

In [37]:
pr2.head()

   City  Gender  Unit price  Rating  Product line
0   1.0     1.0       134.0     8.4             3

In [38]:
print(list(l3.inverse_transform([pr2['Product line']])))

['Health and beauty']
C:\Users\allen\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [39]:
ypred=ranfor.predict(Xtest)
accuracy_score(ytest,ypred)

0.15