# Import Libraries

In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler

# Dataset

In [43]:
allen = pd.read_csv("Dataset.csv")

In [44]:
allen.head()

,PNO,AGE,GENDER,DIABETES SINCE (IN YRS),OHS,PAN CHEW,SMOKING,ALCOHOLIC,TOTAL TOOTH PRESENT,GI,PI,TM G1,TMG2,TMG3,FUR TOOTH,GRADING
0,1,45,F,7,AVERAGE,NO,NO,NO,32,1.780,5.875,3,0,0,14,SEVERE
1,2,51,M,10,POOR,NO,YES,YES,31,1.806,6.451,6,0,1,13,SEVERE
2,3,60,M,25,POOR,NO,YES,YES,15,2.466,8.000,5,4,6,7,SEVERE
3,4,56,F,6,AVERAGE,NO,NO,NO,27,1.370,5.037,2,2,0,9,SEVERE
4,5,62,M,12,POOR,NO,YES,YES,14,2.857,8.000,4,7,3,5,SEVERE

# Preprocessing - Label Encoding

### Grading

In [45]:
l1 = preprocessing.LabelEncoder()
f1 = l1.fit_transform(allen['GRADING']) 
f1 = pd.DataFrame(data=f1, columns=['GRADING'])

### Alcoholic

In [46]:
l2 = preprocessing.LabelEncoder()
f2 = l2.fit_transform(allen['ALCOHOLIC']) 
f2 = pd.DataFrame(data=f2, columns=['ALCOHOLIC'])

### Smoking

In [47]:
l3 = preprocessing.LabelEncoder()
f3 = l3.fit_transform(allen['SMOKING']) 
f3 = pd.DataFrame(data=f3, columns=['SMOKING'])

### Pan

In [48]:
l4 = preprocessing.LabelEncoder()
f4 = l4.fit_transform(allen['PAN CHEW']) 
f4 = pd.DataFrame(data=f4, columns=['PAN CHEW'])

### OHS

In [49]:
l5 = preprocessing.LabelEncoder()
f5 = l5.fit_transform(allen['OHS']) 
f5 = pd.DataFrame(data=f5, columns=['OHS'])

### Gender

In [50]:
l6 = preprocessing.LabelEncoder()
f6 = l6.fit_transform(allen['GENDER']) 
f6 = pd.DataFrame(data=f6, columns=['GENDER'])

### Updation

In [51]:
allen['GRADING'] = f1['GRADING']
allen['ALCOHOLIC'] = f2['ALCOHOLIC']
allen['SMOKING'] = f3['SMOKING']
allen['PAN CHEW'] = f4['PAN CHEW']
allen['OHS'] = f5['OHS']
allen['GENDER'] = f6['GENDER']

# Preprocessing - MinMaxScaler

In [52]:
ms = MinMaxScaler()
columns = ['AGE','DIABETES SINCE (IN YRS)','TOTAL TOOTH PRESENT','GI','PI','TM G1','TMG2','TMG3','FUR TOOTH']
allen[columns] = ms.fit_transform(allen[columns])

In [53]:
allen.head()

,PNO,AGE,GENDER,DIABETES SINCE (IN YRS),OHS,PAN CHEW,SMOKING,ALCOHOLIC,TOTAL TOOTH PRESENT,GI,PI,TM G1,TMG2,TMG3,FUR TOOTH,GRADING
0,1,0.325,0,0.230769,0,0,0,0,1.000000,0.373921,0.583660,0.111111,0.000000,0.000000,1.000000,2
1,2,0.475,1,0.346154,2,0,1,1,0.965517,0.386385,0.696513,0.222222,0.000000,0.045455,0.928571,2
2,3,0.700,1,0.923077,2,0,1,1,0.413793,0.702780,1.000000,0.185185,0.210526,0.272727,0.500000,2
3,4,0.600,0,0.192308,0,0,0,0,0.827586,0.177373,0.419475,0.074074,0.105263,0.000000,0.642857,2
4,5,0.750,1,0.423077,2,0,1,1,0.379310,0.890221,1.000000,0.148148,0.368421,0.136364,0.357143,2

# Training

In [54]:
x = allen.drop(['GRADING','PNO'],axis=1)

In [55]:
y = allen['GRADING']

In [58]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2,random_state=1,stratify=y)

In [59]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
p = model.predict(xtest)

# Assignment

### Confusion Matrix

In [60]:
print(confusion_matrix(ytest,p))

[[ 2  2]
 [ 0 18]]

### Specificity and Sensitivity

In [61]:
c = confusion_matrix(ytest,p)
print('Specificity: ', c[1,1]/(c[1,0]+c[1,1]))
print('Sensitivity: ', c[0,0]/(c[0,0]+c[0,1]))

Specificity:  1.0
Sensitivity:  0.5

### Accuracy

In [62]:
c = confusion_matrix(ytest,p)
print('Accuracy: {:.5%}'.format((c[0,0]+c[1,1])/sum(sum(c))))

Accuracy: 90.90909%